@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


:root {
    --foreground-rgb: rgb(211, 216, 232);
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    background-color: #f1f1f1;
    
      width: 99.8%;
      height: 99vh; 
      background-image: linear-gradient(#e6e5e5 5px, transparent 1px),
                        linear-gradient(90deg, #e6e5e5 5px, transparent 1px);
      background-size: 90px 90px; /* Adjust size of the grid squares */
      overflow: scroll;
  
  }
  
 
  @keyframes marquee {
    0% {
      transform: translateX(80%); /* Start from the right */
    }
    100% {
      transform: translateX(-100%); /* Move to the left */
    }
  }
  
  .animate-marquee {
    animation: marquee 20s linear infinite;;
  }
  

  @keyframes reverse-marquee {
    0% {
      transform: translateX(-80%); /* Start from the left */
    }
    100% {
      transform: translateX(100%); /* Move to the right */
    }
  }
  
  .animate-marquee-revserse {
    animation: reverse-marquee  20s linear infinite;
  }
  
  // .sticky-card {
  //   // padding-top: calc(var(--index) * 2.5rem);
  //   top: calc(var(--index) * 4rem);
  // }